html {
	color-scheme: dark light;
	/* TODO: in the actual theme selectors, force `color-scheme` to be either dark or light */

	background: #111;
	color: #dfdada;

	/* temp font settings */
	font-family: 'Inter', sans-serif;
	line-height: 1.5;

	interpolate-size: allow-keywords;
}

/* for page transitions */
body {
	overflow-x: hidden;
}

/*:root {*/
/*	--sm: 640px;*/
/*	--md: 768px;*/
/*	--lg: 1024px;*/
/*	--xl: 1280px;*/
/*	--xxl: 1536px;*/
/*}*/

/* temporary until I actually write a decent style sheet */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.75em;
}

/* layout magic */
/* reference: https://codepen.io/kevinpowell/pen/ExrZrrw */
.content-grid {
	--padding-inline: 2rem;
	--content-max-width: 70ch;
	--breakout-max-width: 80ch;
	--breakout-big-max-width: 120rem;

	--breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);
	--breakout-big-size: calc(
		(var(--breakout-big-max-width) - var(--content-max-width) - (var(--breakout-size) * 2)) / 2
	);

	display: grid;

	grid-template-columns:
			[full-start]
			minmax(var(--padding-inline), 1fr)
			[breakout-big-start]
			minmax(0, var(--breakout-big-size))
			[breakout-start]
			minmax(0, var(--breakout-size))
			[content-start]
			min(100% - (var(--padding-inline) * 2), var(--content-max-width))
			[content-end]
			minmax(0, var(--breakout-size))
			[breakout-end]
			minmax(0, var(--breakout-big-size))
			[breakout-big-end]
			minmax(var(--padding-inline), 1fr)
			[full-end];
}

.content-grid > :not(.breakout, .breakout-big, .full-width),
.bread > :not(.breakout, .breakout-big, .full-width) {
	grid-column: content;
}

.content-grid > .breakout {
	grid-column: breakout;
}

.content-grid > .breakout-big {
	grid-column: breakout-big;
}

.content-grid > .full-width {
	grid-column: full;

	display: grid;
	grid-template-columns: inherit;
}